{% extends 'layout.html' %}

{% block body %}

<link rel="stylesheet" href="../static/css/dragndrop.css">
    <div class="container-fluid">
        <h2>Travel Time Collection</h2>
        <h3>Floating car stats measured every seconds with Smartphone GPS</h3> <br><br>
    

    <label class="btn btn-success" for="file-selector">
            <input id="file-selector" type="file" multiple style="display:none" 
            onchange="$('#upload-file-info').html(this.files[0].name)">
            Upload GPX file
        </label>
        <span class='label label-info' id="upload-file-info"></span>

<!-- ########################### -->

        <div id="dropzone">
            <form action="/gpx_file_uploader/" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit">          
          </form>
        </div>
        
    </div>
    
       
{% endblock %}
