{% extends 'layout.html' %}

{% block body %}
    <!-- This is the V1 referenced to Gsheets database. Valid until 02/07/2018 -->
    <iframe style="position:absolute; height:94%; width:100%; border:none" src="https://app.powerbigov.us/view?r=eyJrIjoiZDk0ZjI5N2MtNDk3NS00NGVkLWE0MzItNzAyZjNjMzQyMzhhIiwidCI6ImFiZjk0YzI3LTYwNGUtNDYxYy1iZDg0LTQzN2FjYjk0NzcyZCJ9" frameborder="0" allowFullScreen="true"></iframe>
    
    <!-- Need to update in the future to use V2, which is referenced to MySQL database. Valid after 02/07/2018 -->

{% endblock %}
